
#skeleton
	opacity 0.9
	// background black
	margin 0
	padding 8px
	border-radius 2px
	position absolute
	border 1px solid #666
	top 18px
	right 18px
	z-index 1

#skeleton li
	list-style none

#skeleton #console
	// border 1px solid #ccc
	color #666
	font-size 9px
	// background black
	padding 6px
	// width 200px
	// text-align center
	line-height 20px
	// height 100px

#prompt
	color #ccc
	font-size 9px
	font-family 'monaco'
	text-align center
	background transparent
	line-height 13px
	width 252px
	height 13px
	top 0
	left 0
	position relative
	border 1px solid #666

#prompt:focus
	// border none!important
	outline none!important
	border 1px solid white
	color white

input.text::selection, ::selection
	background-color red!important
	color blue!important

#console small
	padding-right 8px
	font-size 9px
	color #999