.panel
	-webkit-user-drag: element
	position absolute
	width 200px
	border 1px solid #666
	border-radius 2px
	padding 8px
	top 20px
	left 20px

.panel:-webkit-drag
	opacity 0!important

#prompt
	border 1px solid #666
	background transparent
	font-family 'monaco'
	text-align center
	font-size 9px
	width 200px

#prompt:focus 
	color white 
	border 1px solid white
	outline none

#console
	font-size 9px
	line-height 18px
	color #666

#console span
	font-size 9px
	padding-right 6px
	color #999

