.panel
	position absolute
	z-index 2
	width 200px
	border-radius 2px
	padding-top 6px
	padding-bottom 6px
	top 20px
	left 20px
	background #f1f1f1

#prompt
	border 1px solid #999
	background transparent
	font-family 'monaco'
	text-align center
	font-size 9px
	width 186px

#prompt:focus 
	color black 
	border 1px solid black
	outline none

#console
	position relative
	padding-top 4px
	font-size 9px
	line-height 18px
	color #666

#console span
	font-size 9px
	padding-right 6px
	color #999

.grip
	position absolute
	top 0px
	left 0px
	bottom 0px
	right 0px
	border-radius 2px
	border 1px solid #999
	opacity 0.9

.group 
	position relative 
	z-index 2
	background #f1f1f1
	border 1px solid #999
	padding 4px

.grip:hover
	cursor move

