.panel
	-webkit-user-drag: element
	position absolute
	width 200px
	height 200px 
	border 1px solid #666
	border-radius 2px
	padding 8px
	top 20px
	left 20px

.panel:-webkit-drag
	opacity 0!important

#panel
	border-radius 2px
	position fixed
	cursor default
	border 1px solid #ccc
	width 300px
	height 200px
	left 200
	top 200

#prompt
	border 1px solid #666
	background transparent
  font-family 'monaco'
  font-size 0px