body {
  padding: 50px;
  background: #00001e;
  overflow: hidden;
  position: fixed;
  font-size: 8px;
  letter-spacing: 1px;
  font-family: 'monaco';
  color: #fff;
}
a {
  color: #00b7ff;
}
#number {
  font-family: 'monaco';
  font-size: 9px;
  cursor: none;
  width: 30px;
  height: 12px;
  border: 1px solid #ccc;
  color: #fff;
  float: left;
  text-align: center;
}
#topbar {
  border: none;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  font-size: 9px;
  font-family: 'monaco';
  text-align: center;
  width: 100%;
  background: #000;
  height: 12px;
  top: 0;
  left: 0;
  position: fixed;
}
#topbar:focus {
  border: none !important;
  outline: none !important;
  background: #00f;
  color: #000;
}
.row {
  border-bottom: 1px solid #ccc;
  height: 12px;
  padding: 6px;
}
#grip {
  -webkit-user-drag: element;
  height: 8px;
  background: #ccc;
  cursor: crosshair;
}
#grip:-webkit-drag {
  border: none;
  width: 1px;
  height: 1px;
  background-color: #00001e;
}
label {
  font-size: 7px;
  text-transform: uppercase;
  line-height: 15px;
  padding-right: 4px;
  float: left;
  color: #ccc;
}
#panel {
  border-radius: 2px;
  position: fixed;
  cursor: default;
  border: 1px solid #ccc;
  width: 300px;
  height: 200px;
  left: 200;
  top: 200;
}
