body 
  font-family courier, monospace 
  font-size 10px
  background #001424
  color #333333
  margin 0
  padding 0

.lc, .rc, .uc
  width 15px
  height 15px

.lc 
  position fixed
  bottom 6px
  left 6px
  border-left 1px solid #999
  border-bottom 1px solid #999

.rc 
  position fixed 
  bottom 6px
  right 6px
  border-right 1px solid #999
  border-bottom 1px solid #999

.uc 
  position fixed
  top 6px
  right 6px
  border-right 1px solid #999
  border-top 1px solid #999

