form
  top 0
  left 0
  position fixed
  x-oveflow hidden
  width 400px
  height 16px
  padding 6px

input
  height 16px
  line-height 16px
  width inherit
  background transparent
  color #333
  border none
  border-left 1px solid #333
  border-top 1px solid #333
  font-size 15px
  font-family 'ProggySquareTT'

input:focus
  padding 2px
  padding-top 4px
  padding-left 4px
  color #333
  background transparent
  outline none
  opacity 0.7
  border 1px solid #333
  border-bottom 1px solid #f1f1f1
  

