form
  top 0
  left 0
  position fixed
  x-oveflow hidden
  width 100%
  background blue
  height 16px

input
  height 16px
  line-height 16px
  width inherit
  background blue
  color white
  border none
  font-size 9px
  font-family 'monaco'
  letter-spacing 1px

input:focus
  padding 2px
  padding-left 10px
  background black
  outline none
