
#monome
	-webkit-user-drag: element
	position absolute
	width 200px
	height 200px 
	border 1px solid #666
	border-radius 2px
	padding 8px
	top 20px
	left 20px

.panel:-webkit-drag
	opacity 0!important

.number
	font-size 9px
	width 60px
	border 1px solid #666
	color #666
	border-radius 2px
	text-align center