@import "fonts.css"

@keyframes out {
  from {
    opacity : 0.6;
  }
  to {
    opacity : 1;
  }
}

body
  font-size 20px
  font-family "AkkuratMono"
  background #fffff5
  background white
  margin 0
  padding 0
  letter-spacing 1px

input 
  font-size 18px
  font-family "AkkuratMono"!important
  letter-spacing 1px
  background transparent
  margin 0
  padding 0
  line-height 22px
  border-radius 0
  outline none
  border none

input:hover
  color black

input:focus
  color black
  line-height 22px
  outline none
  border none

.login
  background rgba(212, 238, 255, 0.8)
  box-sizing border-box
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 999

#loginForm
  line-height 20px
  color black
  position absolute
  top 50%
  left 50%
  margin-left -105px
  margin-top -20px
  width 210px
  cursor default
  z-index 999

.login input:focus
  color black

.login input 
  font-size 18px
  color black!important
  background rgba(212, 238, 255, 0.8)
  text-align center!important
  border 1px solid black
  border-bottom 2px solid black
  border-right 2px solid black
  width 200px

.omni
  line-height 20px
  color #333
  position fixed
  top 0
  left 0
  cursor default
  z-index 999
  width 100%
  height 38px
  margin 0
  padding 0
  margin-bottom 20px
  line-height 24px
  background #f1f1f1
  background #D4E0FF
  background rgba(212, 238, 255, 0.8)
  // background LightSkyBlue

.omni #mode
  -moz-appearance none
  -webkit-appearance none
  border none
  background transparent
  box-shadow none
  font-family "AkkuratMono"
  text-indent 0.01px
  text-overflow ''

.omni a
  text-decoration none
  color black

.omni .menu 
  margin 0
  padding 0
  padding-top 3px
  float left
  width 800px

.omni .menu li 
  z-index 999
  line-height 26px
  list-style none
  float left
  padding 0 
  margin 0!important    
  font-family "AkkuratMono"
  font-size 18px
  list-style none
  color black

.omni .command
  width 58px
  text-align right
  text-transform uppercase
  font-size 12px!important
  border-bottom 2px solid black
  padding-bottom 2px!important

.omni .messages 
  margin 0
  padding 0
  position absolute
  top 38px
  left 0
  width 100%
  background skyBlue
  background rgba(212, 238, 255, 0.9)

.omni .messages li
  list-style none
  font-size 12px
  padding-left 67px
  color black
  text-transform uppercase

.omni .menu li:hover
  text-decoration underline

.omni #search
  width 320px
  line-height 28px
  border-bottom 2px solid black
  padding-left 8px!important
  color black

.omni .result
  clear both
  float left

.omni .omnibox, .omni .actions
  text-transform uppercase
  font-size 12px!important
  border none!important
  padding-right 0px!important
  line-height 36px !important

.omni .actions
  color #444!important

.hilite
  position fixed
  z-index 1!important
  border 4px solid blue
  border-radius 2px
  opacity 0.6

.header
  width 100%
  height 72px
  margin-bottom 10px

.header .banner, .header .menu
  margin 0
  padding 0
  position relative
  width 825px
  margin-left -412.5px
  left 50%

.header .banner
  height 40px
  background-size cover
  background blue
  margin-bottom 4px

.header .menu
  clear both
  padding 0

.header .menu li
  list-style none
  float left
  width 157px
  margin-right 4px
  height 30px
  float left
  opacity 0.6
  background blue

.header .menu li:hover 
  opacity 1
  animation-name out
  animation-duration 900ms

.project
  position relative
  width 825px
  margin-left -412.5px
  left 50%
  z-index 2

.project .main div
  background-size cover!important
  margin-bottom 10px
  width 825px
  height 400px

.project .main
  float left
  clear both

.project .inc, .project .dec
  position absolute
  height 260px
  padding-top 140px
  top 0
  opacity 0
  font-size 80px
  color white
  text-decoration none
  text-shadow 1px 1px 20px #555

.project .dec
  left 0

.project .inc
  right 0

.project ul
  float left
  clear both
  margin 0
  padding 0

.project ul li
  list-style none
  padding 0 10px 0 0
  margin 0
  float left
  opacity 0.7

.project ul li.l5
  padding 0 0 0 0

.project ul li div
  height 120px
  width 157px
  background-size cover!important

.project .info
  position absolute
  font-family "GillSans"
  color #333
  left 835px
  font-size 15px
  line-height 18px
  bottom -400px
  width 140px
  min-height 20px

.dropzone
  z-index 888!important
  background blue
  position absolute
  opacity 0.3
  box-shadow 0px 0px 30px blue

.editBox
  position absolute
  z-index 999!important
  min-height 33px
  min-width 120px
  background #f1f1f1
  background #d4eeff
  background rgba(212, 238, 255, 0.9)
  border 1px solid black
  border-bottom 2px solid black
  border-right 2px solid black
  box-shadow 0px 0px 30px skyblue
  color black
  margin 0
  padding 6px

input[type="password"]::-webkit-input-placeholder
  color black!important
  opacity 0.4

.commands 
  display none
