@import "fonts.css"

body
  background white
  font-size 12px
  font-family "Akkurat Pro"
  margin 0
  padding 0

input, input:focus
  float left
  background #DBB8BF
  color #080A17!important
  font-family "Akkurat Mono"!important
  font-size 11px
  line-height 12px
  -webkit-font-smoothing subpixel-antialiased
  letter-spacing 1px
  padding 2px 4px
  outline none
  border none
  border-radius 3px

.omni .block input, .login input
  margin 1px
  width 186px

.omni, .login
  background #080A17
  background rgba(8, 10, 23, 0.87)
  color #f1f1f1
  width 100%
  height 28px
  position fixed
  left 0
  top 0 
  padding 10px 0 0
  z-index 999

.omni .caret, .login .caret
  color #40B2AA
  font-family 'Akkurat Light'
  font-size 36px
  padding-right 6px
  line-height 33px
  float left

.omni .log, .login .log
  color #DBB8BF
  padding 0 8px 0
  font-size 22px
  line-height 22px
  float left

.omni .block
  float left

.login .desc
  float left
  color #DBB8BF
  letter-spacing 1px
  line-height 11px
  margin 4px 8px 

.login .error 
  float left
  color #FC9E9C
  background rgba(149, 0, 23, 0.51)
  text-transform uppercase
  letter-spacing 1px
  border-radius 3px
  margin 2px 8px
  padding 0px 2px

.grifter
  background rgba(8, 10, 23, 0.87)
  color #f1f1f1
  font-size 14px
  position absolute
  min-height 33px
  min-width 120px
  z-index 999!important
  margin 0
  padding 6px
  border 1px solid black
  border-bottom 2px solid black
  border-right 2px solid black
  box-shadow 0px 0px 30px #080A17

img
  border none
  background -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #D69FB0),
    color-stop(1, #CDD4DE)
  )
  background -o-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background -moz-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background -webkit-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background -ms-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background linear-gradient(to bottom, #D69FB0 0%, #CDD4DE 100%)
