@import "fonts.css"

@media (min-width: 640px)
  body 

@media (min-width: 1024px)
  body

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

svg 
  shape-rendering: crispEdges;

svg text::selection
  background #f1f1f1!important
  fill black!important

a
  color #080A17
  text-decoration none

body
  font-size 12px
  font-family "Andale Mono"
  margin 0
  padding 0

input, input:focus
  font-family "Andale Mono"!important
  -webkit-font-smoothing subpixel-antialiased
  outline none
  padding 0
  background transparent!important
  color #080A17!important

.omni, .login
  box-shadow 0px 0px 11px rgba(0, 0, 0, 0.25)
  background rgba(132, 188, 207, 0.95)
  width 200px
  position fixed
  left 10px
  top 10px
  margin 0
  padding 4px 0
  list-style none
  z-index 999
  font-family "Andale Mono"
  cursor -webkit-grab
  cursor grab

.omni 
  text-align center

.omni .tray 
  cursor default!important
  color black
  list-style none
  margin 0 
  padding 0
  width 100%
  text-align center

.omni a
  color black
  float left
  line-height 12px

.omni .blackbox
  padding 0 0 3px 2px
  float left
  clear both

.omni .blackbox input
  border none
  padding 4px 4px
  line-height 12px
  width 200px
  font-size 10px

.omni .exit
  float right!important
  font-size 18px
  margin-right 3px

.omni .file
  margin -1px 4px
  font-size 20px

.omni .lib
  cursor default
  list-style none
  position absolute
  margin 0
  padding 0
  top 55px
  left 15px
  width 192px

.omni .lib li
  margin 2px 0 0 2px
  color black
  background #EBEEFB
  padding 0px 3px 2px 3px
  list-style none
  line-height 12px
  font-size 12px
  float left
  clear both

.omni .lib li b
  color black
  padding 0 8px 0 0
  font-size 16px
  font-weight lighter

.login 
  min-height 12px
  padding 10px
  width 240px
  cursor default

.login input
  font-size 12px
  width 176px
  padding 0 4px
  background rgb(235, 238, 251)!important
  color black
  border-radius 6px
  outline none
  border none
  margin 0 0 0 6px

.login span
  color black
  float left

.error 
  color black
  background rgba(255, 243, 10, 0.65)
  line-height 18px
  padding 0 4px 0 4px
  margin 4px 0 0 0
  box-shadow 1px 2px 6px rgba(0, 0, 0, 0.3)
  border-radius 5px
  font-size 14px
  position absolute
  z-index 999

.header
  float left 
  clear both
  background-repeat no-repeat
  background-position center 12px
  height 138px!important
  width 100%
  border-bottom 2px solid #72A9B8

.header ul
  position relative
  float left
  clear both
  padding 0
  margin 0
  margin-left -383px
  margin-top 88px
  left 50%
  width 800px
  list-style none

.header ul li
  padding 0
  margin 0
  margin-right 28px
  height 30px
  float left

.header ul li a img:hover 
  filter grayscale(90%)
  -webkit-filter grayscale(90%)

.header ul li a img
  min-width 40px
  min-height 18px

.project
  float left
  clear both

.project .full
  float left

.project .desc
  float left

.project ul
  float left
  clear both
  list-style none
  margin 10px 0 0 0
  padding 0

.project ul li
  margin-right 10px
  float left

.category
  position relative
  margin-left -400px
  left 50%
  width 800px

.category ul
  list-style none
  margin 0
  padding 0

.category ul li
  padding 0
  margin 0

.category h1
  font-size 14px
  text-transform uppercase
  margin 0
  color #555

.article 
  position relative
  width 800px
  left 50%
  margin 30px -400px 0
  float left
  clear both

.article .txt
  color #777
  font-size 13px
  line-height 18px
  width 360px
  float left

.article img
  float right

#cvs 
  cursor default
  float left
  clear both
  width 200px
  height 200px
  margin 5px 0 0 0
  background rgb(235, 238, 251)

.grifter
  // background rgba(45, 54, 114, 0.94) 
  font-size 14px
  position absolute
  z-index 999!important
  margin 0
  padding 8px

.grifter .tray 
  cursor default!important
  width 100%
  float left
  clear both
  font-size 10px
  color rgba(255, 255, 255, 0.83)

.grifter a
  color rgba(110, 231, 197, 0.88)
  float left
  padding 0 4px
  margin-right 2px
  border-radius 999px
  box-shadow 0 0 11px rgba(57, 66, 122, 0.55)
  font-size 10px

.grifter a.reset
  background yellow
  color black

.grifter a.del
  background red
  color black

.grifter ul 
  cursor default
  float left
  clear both
  margin 0
  padding 0

.grifter ul li
  float left
  clear both
  // background rgba(57, 66, 122, 0.94)
  background rgb(138, 192, 210)
  box-shadow 0 0 11px rgba(57, 66, 122, 0.55)
  padding 0 1px 0 6px
  border-radius 9px
  list-style none
  margin 1px 0

.grifter ul li span
  color black
  font-size 12px
  line-height 14px
  text-transform uppercase
  font-size 10px
  float right

.grifter ul li textarea
  color black!important
  background rgb(235, 238, 251)!important
  padding 0 6px 0 6px
  outline none
  border none
  height 13px
  line-height 12px
  border-radius 9px
  margin-left 10px
  font-size 10px
  float right


.pumicle
  float left

img
  border none
  background -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #D69FB0),
    color-stop(1, #CDD4DE)
  )
  background -o-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background -moz-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background -webkit-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background -ms-linear-gradient(bottom, #D69FB0 0%, #CDD4DE 100%)
  background linear-gradient(to bottom, #D69FB0 0%, #CDD4DE 100%)

.status
  background rgba(8, 10, 23, 0.94)
  color rgba(255, 255, 255, 0.79)!important
  width 100%
  height 20px
  font-size 14px
  line-height 18px
  padding 0 8px
  position fixed
  z-index 9999
  top 0
  left 0
